.footer {
  background-color:gray;
  color: white;
  font-weight: 900;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  max-width: 100% !important;
}

.listaCompleta{
  background-color: black;
  display: flex;
}

.logo{
  border: 6px solid black;
}



.check{
  width: 50px;
  height: 50px;
  /*display: flex;
  align-items: center;
  justify-items: right;*/
  position: relative;
  right: 2px;
}

.checkListaCompleta{
  justify-content: flex-end !important;
}




.uno{
  color: yellowgreen;
  font-weight: 900;
  font-size: 54px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.dos{
  color: blueviolet;
  font-weight: 900;
  font-size: 54px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.tres{
  color: yellow;
  font-weight: 900;
  font-size: 54px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.cuatro{
  color: red;
  font-weight: 900;
  font-size: 54px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.unoBorde{
  border-left: 10px solid yellowgreen;
  display: inline;
}

.dosBorde{
  border-left: 10px solid blueviolet;
  display: inline;
}

.tresBorde{
  border-left: 10px solid yellow;
  display: inline;
}

.cuatroBorde{
  border-left: 10px solid red;
  display: inline;
}

.nulo{
  border-left: 10px solid black;
  display: inline;
}

.enBlanco{
  border-left: 10px solid silver;
  display: inline;
}

.frente{
  font-weight: 900;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.gobernador{
  padding: 6px;
}

.gobernadorNombre{
  font-weight: 900;
  margin-bottom: 1px;
}

.senadorPrincipal{
  font-weight: 900;
}

.senadorDetalle{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divSenador{
  padding-top: 10px;
}

.main{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.app{
  margin-right: 0;
  margin-left: 0;
  overflow-x: scroll;
}

.rowOwn{
  min-width: max-content;
}

.colOwn{
  float: left;
  width: 360px;
}

.colIndicadora{
  float: left;
  width: 100px;
}

.rotateCol{
  border: 2px solid black;
}


.footerTexto{
  width: 90%;
}

.btnSimular{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #2222BB;
  border-radius: 15px;
  color: silver;
  font-size: 18px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLimpiar{
  position: fixed;
  bottom: 70px;
  right: 15px;
  background-color: #2222BB;
  border-radius: 15px;
  color: silver;
  font-size: 18px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  overflow-y: auto;
  max-height: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

@media (max-height: 600px){
  .modal-container{
    max-height: 300px;
    overflow-y: auto;
  }
}

@media (min-width: 400px){
  .modal-container{
    width: 80%;
  } 
}

@media (min-width: 600px){
  .modal-container{
    width: 60%;
  }
}

@media (min-height: 601px){
  .modal-container{
    max-height: 500px;
    overflow-y: auto;
  }
}

.modal-header h3 {
  margin-top: 0;
  color: whitesmoke;
  background-color: black;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
/* Condiciones por defecto*/

.modal-enter {
  opacity: 0.9;
}

.modal-leave-active {
  opacity: 0.9;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


.resultado{
  border: 2px solid black;
  margin-bottom: 6px;
  text-align: center;
}
