<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <script
      src="https://kit.fontawesome.com/bcded251a0.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />

    <title>Boleta única Mendoza</title>
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask modal-open">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-default-button" @click="$emit('close')">
                    Cerrar
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
  </head>
  <body>
    <div id="app" class="app">
      <div class="selectContainer">
       <div> 
        <label for="departamento" class="labelTipoDepto">Departamento</label>
      <select class="selectDeptos selectStyle" name="" id="departamento" v-model='tipoDepto' @change="changeTipoDepto()">
        <option value="siete">Santa Rosa, San Rafael, Tunuyán, Lavalle, Maipú, La Paz o San Carlos</option>
        <option value="doce">Resto de departamentos</option>
      </select>
    </div>
    <div>
      <label for="tipo" class="labelTipoDepto">Elección</label>
      <select class="select selectStyle" name="eleccion" id="eleccion" v-model="tipoEleccion" @change="changeTipoEleccion()">
        <option value="paso">PASO</option>
        <option value="general">GENERALES</option>
      </select>
    </div>
    <div v-if="tipoDepto==='siete'">
      <label for="tipo" class="labelTipoDepto">Tipo</label>
      <select class="select selectStyle" name="tipoDepartamento"  v-model="tipoDepartamento" id="tipoDepartamento" @change="changeTipoDepartamento()">
        <option value="municipal">Municipales</option>
        <option value="provincial">Provinciales</option>
      </select>
    </div>
    </div>
      <h1 class="fecha">FECHA {{fecha}}</h1>
      <div class="rowOwn">
        <div class="columnaIndicadora">
          <div class="textoIndicador altoListaCompleta">LISTA COMPLETA</div>
          <div v-if="muestraGobernador"class="textoIndicador altoGobernador">GOBERNADOR</div>
          <div v-if="muestraGobernador"class="textoIndicador altoSenador">SENADORES</div>
          <div v-if="muestraGobernador"class="textoIndicador altoDiputados">DIPUTADOS</div>
          <div v-if="muestraIntendente"class="textoIndicador altoIntendente">INTENDENTE</div>
          <div v-if="muestraIntendente"class="textoIndicador altoConcejales">CONCEJALES</div>
        </div>
        <div
          v-for="n in listasTotalesPaso"
          class="main colOwn"
          :class="n.claseBorde"
          v-if="n.tipoEleccion==tipoEleccion"
        >
          <div class="logo altoListaCompleta" id="logo">
            <div for="">LISTA {{n.nombre}}</div>
            <div for="" :class="n.clase">LOGO</div>
            <div for="" :class="n.clase">ESCUDO</div>
            <div for="" class="frente">PARTIDO,FRENTE O ALIANZA</div>
            <div class="footer listaCompleta">
              <div class="footerTexto">VOTO LISTA COMPLETA</div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesListaCompleta"
              />
            </div>
          </div>
          <div class="altoGobernador" id="gobernador" v-if="muestraGobernador">
            <div class="gobernador container">
              <div class="row align-items-center">
                <div class="col">
                  <img
                    src="img/boss-512.webp"
                    alt="imgGobernador"
                    width="128"
                    height="128"
                  />
                </div>
                <div class="col">
                  <p class="gobernadorNombre">NOMBRE APELLIDO</p>
                  <p class="gobernadorCargo">GOBERNADOR</p>
                  <p class="gobernadorNombre">NOMBRE APELLIDO</p>
                  <p class="gobernadorCargo">VICEGOBERNADOR</p>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="footerTexto">
                VOTO CANDIDATOS A GOBERNADOR Y VICEGOBERNADOR
              </div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesGobernador"
              />
            </div>
          </div>
          <div class="divSenador altoSenador" id="senadores" v-if="muestraGobernador">
            <p class="senadorDetalle senadorPrincipal">
              1. NOMBRE DOBLE APELLIDO
            </p>
            <p class="senadorDetalle">2. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">3. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">4. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">5. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">6. NOMBRE APELLIDO</p>
            <div class="footer">
              <div class="footerTexto">
                VOTO CANDIDATOS A SENADORES PROVINCIALES
              </div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesSenadores"
              />
            </div>
          </div>
          <div class="divSenador altoDiputados" id="diputados" v-if="muestraGobernador">
            <p class="senadorDetalle senadorPrincipal">
              1. NOMBRE DOBLE APELLIDO
            </p>
            <p class="senadorDetalle">2. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">3. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">4. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">5. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">6. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">7. NOMBRE APELLIDO</p>
            <p class="senadorDetalle">8. NOMBRE APELLIDO</p>
            <div class="footer">
              <div class="footerTexto">
                VOTO CANDIDATOS A DIPUTADOS PROVINCIALES
              </div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesDiputados"
              />
            </div>
          </div>
          <div class="altoIntendente" id="intendentes" v-if="muestraIntendente">
            <div class="gobernador container">
              <div class="row align-items-center">
                <div class="col">
                  <img
                    src="img/boss-512.webp"
                    alt="imgGobernador"
                    width="128"
                    height="128"
                  />
                </div>
                <div class="col">
                  <p class="gobernadorNombre">NOMBRE APELLIDO</p>
                  <p class="gobernadorCargo">INTENDENTE</p>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="footerTexto">VOTO CANDIDATO A INTENDENTE</div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesIntendente"
              />
            </div>
          </div>
          <div class="divSenador altoConcejales" id="concejales" v-if="muestraIntendente">
            <p class="senadorDetalle senadorPrincipal">NOMBRE DOBLE APELLIDO</p>
            <p class="senadorDetalle">NOMBRE APELLIDO</p>
            <p class="senadorDetalle">NOMBRE APELLIDO</p>
            <p class="senadorDetalle">NOMBRE APELLIDO</p>
            <p class="senadorDetalle">NOMBRE APELLIDO</p>
            <p class="senadorDetalle">NOMBRE APELLIDO</p>
            <div class="footer">
              <div class="footerTexto">VOTO CANDIDATOS A CONCEJALES</div>
              <input
                type="checkbox"
                class="check"
                name=""
                id=""
                :value="n"
                v-model="checkedValuesConcejales"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        value="Simular voto"
        class="btnSimular"
        @click="emitirVoto"
      >
        Simular voto<i class="fas fa-vote-yea"></i>
      </button>
      <button
        type="button"
        value="Simular voto"
        class="btnLimpiar"
        @click="limpiar"
      >
        Limpiar<i class="fas fa-redo"></i>
      </button>
      <modal v-if="showModal" @close="showModal = false" class="modal-open">
        <h3 slot="header">Hubieras votado:</h3>
        <h1 slot="body">
          <div class="resultado" v-if="muestraGobernador">
            <p class="textoModalCategoria">Gobernador</p>
            <div v-if="votoGobernador > 1" class="nulo">Voto nulo</div>
            <div v-else-if="votoGobernador == 0" class="enBlanco">
              Voto en blanco
            </div>
            <div v-else>
              <div
                v-if="checkedValuesListaCompleta.length"
                :class="checkedValuesListaCompleta[0].claseBorde"
              >
                LISTA {{checkedValuesListaCompleta[0].nombre}}
              </div>
              <div v-else :class="checkedValuesGobernador[0].claseBorde">
                LISTA {{checkedValuesGobernador[0].nombre}}
              </div>
            </div>
          </div>
          <div class="resultado" v-if="muestraGobernador">
            <p class="textoModalCategoria">Senadores</p>
            <div v-if="votoSenadores > 1" class="nulo">Voto nulo</div>
            <div v-else-if="votoSenadores == 0" class="enBlanco">
              Voto en blanco
            </div>
            <div v-else>
              <div
                v-if="checkedValuesListaCompleta.length"
                :class="checkedValuesListaCompleta[0].claseBorde"
              >
                LISTA {{checkedValuesListaCompleta[0].nombre}}
              </div>
              <div v-else :class="checkedValuesSenadores[0].claseBorde">
                LISTA {{checkedValuesSenadores[0].nombre}}
              </div>
            </div>
          </div>
          <div class="resultado" v-if="muestraGobernador">
            <p class="textoModalCategoria">Diputados</p>
            <div v-if="votoDiputados > 1" class="nulo">Voto nulo</div>
            <div v-else-if="votoDiputados == 0" class="enBlanco">
              Voto en blanco
            </div>
            <div v-else>
              <div
                v-if="checkedValuesListaCompleta.length"
                :class="checkedValuesListaCompleta[0].claseBorde"
              >
                LISTA {{checkedValuesListaCompleta[0].nombre}}
              </div>
              <div v-else :class="checkedValuesDiputados[0].claseBorde">
                LISTA {{checkedValuesDiputados[0].nombre}}
              </div>
            </div>
          </div>
          <div class="resultado" v-if="muestraIntendente">
            <p class="textoModalCategoria">Intendente</p>
            <div v-if="votoIntendente > 1" class="nulo">Voto nulo</div>
            <div v-else-if="votoIntendente == 0" class="enBlanco">
              Voto en blanco
            </div>
            <div v-else>
              <div
                v-if="checkedValuesListaCompleta.length"
                :class="checkedValuesListaCompleta[0].claseBorde"
              >
                LISTA {{checkedValuesListaCompleta[0].nombre}}
              </div>
              <div v-else :class="checkedValuesIntendente[0].claseBorde">
                LISTA {{checkedValuesIntendente[0].nombre}}
              </div>
            </div>
          </div>

          <div class="resultado" v-if="muestraIntendente">
            <p class="textoModalCategoria">Concejales</p>
            <div v-if="votoConcejales > 1" class="nulo">Voto nulo</div>
            <div v-else-if="votoConcejales == 0" class="enBlanco">
              Voto en blanco
            </div>
            <div v-else>
              <div
                v-if="checkedValuesListaCompleta.length"
                :class="checkedValuesListaCompleta[0].claseBorde"
              >
                LISTA {{checkedValuesListaCompleta[0].nombre}}
              </div>
              <div v-else :class="checkedValuesConcejales[0].claseBorde">
                LISTA {{checkedValuesConcejales[0].nombre}}
              </div>
            </div>
          </div>
        </h1>
      </modal>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"
  ></script>
</html>
