.footer {
  background-color:gray;
  color: white;
  font-weight: 900;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.listaCompleta{
  background-color: black;
}


.leftMargin{
  margin-left: 10px;
  border-left: 10px solid yellowgreen;
}

.check{
  width: 50px;
  height: 50px;
}

